{{set . "title" "JWT None Algorithm"}}
{{template "header.html" .}}

<h1>JWT None Algorithm</h1>

<p>
	As well as allowing HMAC and RSA hashing algorithms for the JWT signature, some parsers also allow hashing to be disabled by specifying "none".
</p>

<p>
	I've never come across this in the wild but there are active libraries which support it and so I always check for it just in case, especially as you do occasionally hear reports of it popping up, sometimes in the worst of places!
</p>
<p>
	In April 2020, researchers found that Auth0 was vulnerable to this attack and wrote it up in the blog post:<br />
	<a href="https://insomniasec.com/blog/auth0-jwt-validation-bypass">JSON Web Token Validation Bypass in Auth0 Authentication API</a>
</p>
<p>
	This lab simulates that vulnerability and can be easily exploited using the JOSEPH Burp extension as mentioned in the blog post.
</p>

<p>
	If you get stuck, or want more information, see my <a href="https://digi.ninja/projects/authlab.php#landjwtnone">walkthrough</a>.
</p>

<p>
</p>

<h2>JWT None</h2>


<input type="button" id="validate_token" value="Validate Token"  />

<p id="header"></p>
<p id="user"></p>
<p id="level"></p>
<p id="error"></p>

<p>
	<a href="/">Back to home</a>
</p>

<script src="/public/js/jwtnone.js" type="text/javascript" charset="utf-8"></script>

{{template "footer.html" .}}
