<!DOCTYPE html>

<html>
	<head>
		<title>{{.title}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/png" href="/public/img/favicon.ico">
		<link href="/public/css/authlab.css" rel="stylesheet" type="text/css" />
		{{range .moreStyles}}
			<link rel="stylesheet" type="text/css" href="/public/{{.}}">
		{{end}}
		{{range .moreScripts}}
			<script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
		{{end}}

		<meta property="og:title" content="Authentication Lab - DigiNinja" />
		<meta property="og:description" content="A set of authentication challenges covering a range of different technologies." />
		<meta property="og:image" content="https://digi.ninja/graphics/twittercards/authlab_twittercard.png" />
		<meta property="og:type" content="website" />
		<meta property="og:sitename" content="DigiNinja" />

		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="Authentication Lab - DigiNinja" />
		<meta name="twitter:description" content="A set of authentication challenges covering a range of different technologies." />
		<meta name="twitter:site" content="@digininja" />
		<meta name="twitter:creator" content="@digininja" />
		<meta name="twitter:domain" content="authlab.digi.ninja" />
		<meta name="twitter:site" content="@digininja" />
		<meta name="twitter:image" content="https://digi.ninja/graphics/twittercards/authlab_twittercard.png" />
	</head>
<body>
