<!DOCTYPE html>

<html>
	<head>
		<title>{{.title}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/png" href="/public/img/favicon.ico">
		<link href="/public/css/authlab.css" rel="stylesheet" type="text/css" />
		{{range .moreStyles}}
			<link rel="stylesheet" type="text/css" href="/public/{{.}}">
		{{end}}
		{{range .moreScripts}}
			<script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
		{{end}}
	</head>
<body>
